/* TODO
    - V сбросить дефолтные стили браузера +
    - порядок css свойств +
    - наименование css классов по БЭМ
    - работа с адаптивом
    - media для псевдокласса :hover
    - псевдоклассы :active :focus :disabled
    - каскад
    - отдельный импорт шрифтов
    - работа с svg
    - подробнее про позиционирование
    - единицы измерения px % em vw vh
    - css переменные
    - осмысленные коммиты
*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), 
        url('../fonts/roboto-v30-cyrillic_latin-regular.woff2'),
        format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'), 
        url('../fonts/roboto-v30-cyrillic_latin-300.woff2'),
        format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto'), 
        url('../fonts/roboto-v30-cyrillic_latin-700.woff2'),
        format('woff2');
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 100px;
    padding: 20px 80px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.logo {
    width: 100px;
    height: auto;
}

.header_navList {
    display: flex;
    gap: 20px;
}

.header_navList > a {
    font-weight: 30;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all .07s ease-in-out;
}

.header_navList > a:hover {
    text-decoration: none;
    color: rgb(150, 90, 62);
}

.header_telAll {
    display: flex;
    align-items: center;
}

.header_butCall {
    display: flex;
    align-items: center;
    border-radius: 100px;
    gap: 6px;
    padding: 10px 30px;
    background-color: black;
    text-decoration: none;
    transition: .1s ease-in-out;
}

.header_butCall:hover {
    transform: scale(1.04);
}

.header_cocoPhone {
    display: flex;
    width: 25px;
    height: 25px;
}

.header_cocoNumber {
    display: flex;
    font-weight: 100;
    font-size: 20px;
    line-height: 85%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

